<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title"><%= project.name %></h2>
                        <img src="<%= project.cover %>" alt="<%= project.name %>" class="img-fluid mb-3">
                        <p><strong>Date:</strong> <%= project.date %></p>
                        <p><strong>Tracklist:</strong> <%= project.tracklist %></p>
                        <p><strong>Artists:</strong></p>
                        <% if project.artists.any? %>
                            <ul class="list-group">
                                <% project.artists.each do |artist| %>
                                    <li class="list-group-item"><%= artist.pseudo %></li>
                                <% end %>
                            </ul>
                        <% else %>
                            <p>Pas d'artistes.</p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
