<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= project.cover %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= project.date %>
  </p>

  <p>
    <strong>Tracklist:</strong>
    <%= project.tracklist %>
  </p>

</div>
